img{
    max-width: 100%;
    border-radius: 100px;
    float:inline-end;
    margin-right: 100px;
}

#page-name{
    font-weight: bold;
}

body {
    background-color: #131212;
    color:white;
    text-align: center;
    font-family: Arial, sans-serif;
}